{% extends 'base.html' %}
{% block content %}
<div class="global-container">
	{% for message in messages %}
	<div class="zlert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
	<strong>Message:</strong>{{ message }}
		<button type="button" class="close" data-dismis="alert" aria-label="Close">
		<span arial-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
{% if user.is_authenticated %}
	<h3>Hello {{ user.first_name }}</h3>
	<h3>You are successfully logged in!</h3>
	<a href="{% url 'signout' %}" class="btn btn-primary btn-block">Sign Out</a>
	{% else %}
	<a href="{% url 'signin' %}" class="btn btn-primary btn-block">Sign in</a>
	<a href="{% url 'signup' %}" class="btn btn-primary btn-block">Sign up</a>
	{% endif %}
</div>
  {% endblock %}