{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="col-sm-8" style="min-height: 800px;margin-top: 50px;">
<div class="global-container" >
	{% for message in messages %}
	<div class="zlert alert-{{ message.tags }} fade show" role="alert">
	{{ message }}
		<button type="button" class="close" data-dismis="alert" aria-label="Close">
		<span arial-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
{% if user.is_authenticated %}

	<div class="card">
		<h5 class="card-header">Hello {{ user.first_name }}</h5>
		<div class="card-body">
		  <h5 class="card-title">You are successfully logged in!</h5>
		  <p class="card-text">Welcome to Bytecode velocity</p>
		  <a href="{% url 'signout' %}" class="btn btn-primary">Log out</a>
		</div>
	  </div>
		{% else %}
		<table class="table table-bordered">
			<tbody>
		  <tr>
			<td><a href="{% url 'signin' %}" class="btn btn-primary btn-block">Sign in</a>
				</td>
			<td><a href="{% url 'signup' %}" class="btn btn-primary btn-block">Sign up</a></td>
		  </tr>
		</tbody>
		  </table

	  
	
	
	
	{% endif %}
</div></div></div>
  {% endblock %}