{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center" >
  <div class="col-sm-8">
<div class="global-container">
	{% for message in messages %}
  <div class="alert alert-danger">
	<div class="zlert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
	{{ message }}
	</div></div>
  {% endfor %}
  <div class="border border-primary" style="padding: 20px;margin-bottom:30px;">
<form action="/signup" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label><b><h4>Username</b></h4></label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Create username" required>
  </div>
  <div class="form-group">
    <label><b><h4>Fistname</b></h4></label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Fistname" required>
  </div>
  <div class="form-group">
    <label><b><h4>Lastname</b></h4></label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="LastName" required>
  </div>
    <div class="form-group">
    <label><b><h4>Email</b></h4></label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
  </div>
      <div class="form-group">
    <label><b><h4>Password</b></h4></label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
      <div class="form-group">
    <label><b><h4>Confirm Password</b></h4></label>
    <input type="password" class="form-control" id="cpassword" name="cpassword" required>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div></div></div>
  {% endblock %}
